# Ercot Summary Page - Calculations (LZ_SOUTH)

## Load in Data

In [17]:
import xlrd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('ggplot')

# Set file path to Ercot Data
file_path = r"/Users/YoungFreeesh/Visual Studio Code/_Python/Web Scraping/Ercot/MASTER-Ercot.xlsx"

# read all data from "Master Data" tab from "MASTER-Ercot" 
dfMASTER = pd.read_excel(file_path, sheet_name = 'Master Data')

# Convert df to a Date Frame
dfMASTER = pd.DataFrame(dfMASTER) 

# Get Headers of "Master Data"
headers = list(dfMASTER.columns.values) 

# Get Unique Months by creating an Array of the active worksheet names
xls = xlrd.open_workbook(file_path, on_demand=True)
SheetNameArray = xls.sheet_names()
UniqueMonths = SheetNameArray[3:]

### Refine the DataFrame
#Only Take LZ_SOUTH
dfMASTER_LZ_SOUTH =  dfMASTER[['Oper Day', 'Interval Ending', 'LZ_SOUTH']].copy(deep=True)
dfMASTER_LZ_SOUTH['Oper Day'] = pd.to_datetime(dfMASTER_LZ_SOUTH['Oper Day'])

# Reset index to Oper Day
dfMASTER_LZ_SOUTH = dfMASTER_LZ_SOUTH.set_index('Oper Day')

dfMASTER_LZ_SOUTH.head(8)

            Interval Ending  LZ_SOUTH
Oper Day
2018-01-01               15     26.02
2018-01-01               30     26.01
2018-01-01               45     25.77
2018-01-01              100     25.83
2018-01-01              115     36.30
2018-01-01              130     27.29
2018-01-01              145     26.72
2018-01-01              200     26.62

## Begin Calculations

### 1) Avg. Daily Price

In [18]:
### Initialize dataframe
daily_avg = pd.DataFrame()

# Resample df & compute mean
daily_avg['Mean'] = dfMASTER_LZ_SOUTH.LZ_SOUTH.resample('D').mean()
daily_avg

                  Mean
Oper Day
2018-01-01   58.379375
2018-01-02   51.962813
2018-01-03   58.552188
2018-01-04   52.459687
2018-01-05   26.634583
2018-01-06   24.315625
2018-01-07   13.323958
2018-01-08   19.086563
2018-01-09   20.852187
2018-01-10   16.137812
2018-01-11   16.350625
2018-01-12   24.149583
2018-01-13   23.441563
2018-01-14   22.019271
2018-01-15   12.119375
2018-01-16  332.416146
2018-01-17  240.050208
2018-01-18  119.706042
2018-01-19   36.405833
2018-01-20   26.380521
2018-01-21   10.963854
2018-01-22   19.558646
2018-01-23  149.031563
2018-01-24   24.036354
2018-01-25   43.143021
2018-01-26   19.375521
2018-01-27   18.287708
2018-01-28   27.107813
2018-01-29   19.798125
2018-01-30   19.170000
...                ...
2018-07-01   27.141979
2018-07-02   26.835833
2018-07-03   29.290000
2018-07-04   20.872917
2018-07-05   26.111250
2018-07-06   27.383542
2018-07-07   26.225729
2018-07-08   24.421250
2018-07-09   23.800833
2018-07-10   24.942604
2018-07-11   26.867083
2018-07-12   26.217083
2018-07-13   24.986875
2018-07-14   31.280104
2018-07-15   24.773229
2018-07-16   28.874271
2018-07-17   30.646250
2018-07-18  105.935521
2018-07-19  107.970417
2018-07-20   31.100208
2018-07-21   24.992188
2018-07-22   76.085938
2018-07-23   33.808125
2018-07-24   38.475104
2018-07-25   41.133229
2018-07-26   40.023542
2018-07-27   32.324792
2018-07-28  183.893125
2018-07-29   65.516250
2018-07-30   33.378646

[211 rows x 1 columns]

### 2) Avg. Price - Power was cut off from 3:15pm to 4:15pm 

Remove Prices from: 1515 to 1615 --> Remove (1530, 1545, 1600, 1615)

(i.e. remove those 4 data points and take the avg again)

In [25]:
# 1530 - 1615
dfMASTER_LZ_SOUTH_Optimized = dfMASTER_LZ_SOUTH[ ( (dfMASTER_LZ_SOUTH['Interval Ending'] <= 1515) | (dfMASTER_LZ_SOUTH['Interval Ending'] >= 1630) ) ].copy(deep=True)     
# 1530 - 1715
dfMASTER_LZ_SOUTH_Optimized2 = dfMASTER_LZ_SOUTH[ ( (dfMASTER_LZ_SOUTH['Interval Ending'] <= 1515) | (dfMASTER_LZ_SOUTH['Interval Ending'] >= 1730) ) ].copy(deep=True)     


#daily_avg_Optimized
### Initialize dataframe
daily_avg_Optimized = pd.DataFrame()

# Resample df & compute mean
daily_avg_Optimized['Mean'] = dfMASTER_LZ_SOUTH_Optimized.LZ_SOUTH.resample('D').mean()
#daily_avg_Optimized


daily_avg_Optimized2 = pd.DataFrame()

# Resample df & compute mean
daily_avg_Optimized2['Mean'] = dfMASTER_LZ_SOUTH_Optimized2.LZ_SOUTH.resample('D').mean()
#daily_avg_Optimized

### 3)Difference between (1) and (2)

In [26]:
difference = daily_avg - daily_avg_Optimized
difference2 = daily_avg - daily_avg_Optimized2

print(daily_avg.describe())
print(daily_avg_Optimized.describe())
print(daily_avg_Optimized2.describe())
print(difference.describe())
print(difference2.describe())

#difference

             Mean
count  211.000000
mean    33.811806
std     35.564612
min     10.797292
25%     19.715781
50%     25.107604
75%     31.193646
max    332.416146
             Mean
count  211.000000
mean    32.136111
std     33.369877
min     10.727283
25%     19.673478
50%     24.576739
75%     30.092609
max    343.752826
             Mean
count  211.000000
mean    30.290346
std     31.728543
min     10.397841
25%     19.427898
50%     24.127727
75%     29.490398
max    354.943636
             Mean
count  211.000000
mean     1.675695
std      8.349710
min    -11.336680
25%     -0.044194
50%      0.161730
75%      0.537536
max     90.084923
             Mean
count  211.000000
mean     3.521460
std     15.173907
min    -22.527491
25%     -0.117822
50%      0.342027
75%      1.403220
max    111.832794

## Create Summary DataFrame

In [27]:
dfSummary = pd.DataFrame()
dfSummary['Avg Daily Price'] = daily_avg['Mean']
dfSummary['Avg Daily Price - Optimized'] = daily_avg_Optimized['Mean']
dfSummary['Avg Daily Price - Optimized 2'] = daily_avg_Optimized2['Mean']
dfSummary['Difference'] = difference['Mean']
dfSummary['Difference 2'] = difference2['Mean']

print('Avg Daily Price SUM: ', daily_avg['Mean'].sum())
print('Avg Daily Price - Optimized SUM: ', daily_avg_Optimized['Mean'].sum())
print('Avg Daily Price - Optimized 2 SUM: ', daily_avg_Optimized2['Mean'].sum())
print('Difference SUM: ', difference['Mean'].sum())
print('Difference 2 SUM: ', difference2['Mean'].sum())


dfSummary

Avg Daily Price SUM:  7134.29114583
Avg Daily Price - Optimized SUM:  6780.71945652
Avg Daily Price - Optimized 2 SUM:  6391.26306818
Difference SUM:  353.571689312
Difference 2 SUM:  743.028077652

,Avg Daily Price,Avg Daily Price - Optimized,Avg Daily Price - Optimized 2,Difference,Difference 2
Oper Day,,,,,
2018-01-01,58.379375,58.246957,57.932955,0.132418,0.446420
2018-01-02,51.962813,52.459783,52.330682,-0.496970,-0.367869
2018-01-03,58.552188,59.273696,59.970909,-0.721508,-1.418722
2018-01-04,52.459687,53.371957,53.959091,-0.912269,-1.499403
2018-01-05,26.634583,26.836087,26.970795,-0.201504,-0.336212
2018-01-06,24.315625,24.681739,25.062045,-0.366114,-0.746420
2018-01-07,13.323958,13.378478,13.478636,-0.054520,-0.154678
2018-01-08,19.086563,19.114457,19.132841,-0.027894,-0.046278
2018-01-09,20.852187,20.935870,20.998864,-0.083682,-0.146676
2018-01-10,16.137812,16.270652,16.389091,-0.132840,-0.251278
2018-01-11,16.350625,16.568261,16.730227,-0.217636,-0.379602
2018-01-12,24.149583,24.349022,24.538977,-0.199438,-0.389394
2018-01-13,23.441563,23.635761,23.849091,-0.194198,-0.407528
2018-01-14,22.019271,22.143478,22.266477,-0.124207,-0.247206
2018-01-15,12.119375,12.689348,13.213750,-0.569973,-1.094375
2018-01-16,332.416146,343.752826,354.943636,-11.336680,-22.527491
2018-01-17,240.050208,247.859457,256.527273,-7.809248,-16.477064
2018-01-18,119.706042,113.594457,97.246705,6.111585,22.459337
2018-01-19,36.405833,37.013587,37.663636,-0.607754,-1.257803
2018-01-20,26.380521,26.773913,27.166705,-0.393392,-0.786184
2018-01-21,10.963854,10.891522,10.909659,0.072332,0.054195
2018-01-22,19.558646,19.683261,19.807841,-0.124615,-0.249195
2018-01-23,149.031563,154.659565,160.791705,-5.628003,-11.760142
2018-01-24,24.036354,24.257391,24.512955,-0.221037,-0.476600
2018-01-25,43.143021,44.196630,45.261477,-1.053610,-2.118456
2018-01-26,19.375521,19.417935,19.443636,-0.042414,-0.068116
2018-01-27,18.287708,18.232500,18.167727,0.055208,0.119981
2018-01-28,27.107813,27.139891,27.224886,-0.032079,-0.117074
2018-01-29,19.798125,19.825870,19.817045,-0.027745,-0.018920
2018-01-30,19.170000,19.295000,19.412159,-0.125000,-0.242159
...,...,...,...,...,...
2018-07-01,27.141979,25.850978,23.712500,1.291001,3.429479
2018-07-02,26.835833,26.479022,26.074545,0.356812,0.761288
2018-07-03,29.290000,27.715543,27.062727,1.574457,2.227273
2018-07-04,20.872917,20.818587,20.819886,0.054330,0.053030
2018-07-05,26.111250,25.729348,25.060341,0.381902,1.050909
2018-07-06,27.383542,27.077826,26.869545,0.305716,0.513996
2018-07-07,26.225729,25.953152,25.766136,0.272577,0.459593
2018-07-08,24.421250,24.187065,23.946250,0.234185,0.475000
2018-07-09,23.800833,23.684674,23.492386,0.116159,0.308447
2018-07-10,24.942604,24.645543,24.501364,0.297061,0.441241
2018-07-11,26.867083,26.445326,25.515341,0.421757,1.351742
2018-07-12,26.217083,25.684457,25.382841,0.532627,0.834242
2018-07-13,24.986875,24.576739,23.941364,0.410136,1.045511
2018-07-14,31.280104,31.046630,30.771477,0.233474,0.508627
2018-07-15,24.773229,24.385652,23.803409,0.387577,0.969820
2018-07-16,28.874271,28.159457,27.378636,0.714814,1.495634
2018-07-17,30.646250,29.056739,27.272727,1.589511,3.373523
2018-07-18,105.935521,83.037174,42.464659,22.898347,63.470862
2018-07-19,107.970417,81.036087,45.146250,26.934330,62.824167
2018-07-20,31.100208,27.920870,24.386136,3.179339,6.714072
2018-07-21,24.992188,23.771739,22.212955,1.220448,2.779233
2018-07-22,76.085938,42.686196,31.978295,33.399742,44.107642
2018-07-23,33.808125,29.624891,27.999659,4.183234,5.808466
2018-07-24,38.475104,34.791196,32.620114,3.683909,5.854991
2018-07-25,41.133229,36.507174,32.025568,4.626055,9.107661
2018-07-26,40.023542,34.831413,31.861591,5.192129,8.161951
2018-07-27,32.324792,30.991957,29.943182,1.332835,2.381610
2018-07-28,183.893125,132.715978,76.501023,51.177147,107.392102
2018-07-29,65.516250,62.271196,47.750795,3.245054,17.765455
2018-07-30,33.378646,30.407609,28.260795,2.971037,5.117850